@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(97, 97, 97, 0.2) rgba(97, 97, 97, 0.2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.2);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.6);
    border-radius: 8px;
}

@tailwind components;
@tailwind utilities;

:root {
    /* Font */
    --f-main: 'Atkinson Hyperlegible', sans-serif;
}

html {
    background-image: url('/light-bg.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html body {
    background: rgb(212, 212, 212);
    background: -moz-radial-gradient(circle, rgba(190, 190, 190, 0.6) 0%, rgba(210, 210, 210, 0.75) 55%, rgba(235, 235, 235, 0.90) 100%);
    background: -webkit-radial-gradient(circle, rgba(190, 190, 190, 0.6) 0%, rgba(210, 210, 210, 0.75) 55%, rgba(235, 235, 235, 0.90) 100%);
    background: radial-gradient(circle, rgba(190, 190, 190, 0.6) 0%, rgba(210, 210, 210, 0.75) 55%, rgba(235, 235, 235, 0.90) 100%);
    backdrop-filter: blur(0.5px);
}

html.dark {
    background-image: url('/dark-bg.webp');
}

html.dark body {
    background: rgb(33, 33, 33);
    background: -moz-radial-gradient(circle, rgba(33, 33, 33, 0.7) 0%, rgba(18, 18, 18, 0.91) 55%, rgba(8, 8, 8, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(33, 33, 33, 0.7) 0%, rgba(18, 18, 18, 0.91) 55%, rgba(8, 8, 8, 1) 100%);
    background: radial-gradient(circle, rgba(33, 33, 33, 0.7) 0%, rgba(18, 18, 18, 0.91) 55%, rgba(8, 8, 8, 1) 100%);
}

body {
    font-family: var(--f-main);
    margin: 0 auto;
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#root> :last-child {
    /* Pushing down the footer */
    margin-top: auto;
}