@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(97, 97, 97, 0.2) rgba(97, 97, 97, 0.2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.2);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.6);
    border-radius: 8px;
}

@tailwind components;
@tailwind utilities;

:root {
    /* Font */
    --f-main: 'Atkinson Hyperlegible', sans-serif;
}

html.dark {
    background: #000;
}

body {
    font-family: var(--f-main);
    margin: 0 auto;
    /* background-color: #dbdbdb; */
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#root> :last-child {
    /* Pushing down the footer */
    margin-top: auto;
}