@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Font */
    --f-main: 'Atkinson Hyperlegible', sans-serif;

    --c-whywhite-300: #ececec;
    --c-neutral-800: #121212;

    --c-teal-200: #99f6e4;
    --c-teal-800: #115e59;
}

html.dark {
    background: var(--c-neutral-800);
}

body {
    font-family: var(--f-main);
    max-width: 1080px;
    margin: 0 auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root> :last-child {
    /* Pushing down the footer */
    margin-top: auto;
}